// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$text-white: rgba(255,255,255,0.8);
$border-gray: rgba(0,0,0,0.1);
$purple: #9747FF;

//Cat n go colors
$cng-primary: rgba(0,71,60,1);
$cng-cream: #F7FFC8;
$cng-lime: #E6FF55;

$cng-text-secondary: rgba(0,0,0,0.6);

$cng-primary-hover: rgba(0,100,90,1);
$cng-primary-active: rgba(3,85,73,1);
