// Specific CSS for your home-page
#proposition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  text-align: center;
  margin-top: 80px;

  h1 {
    margin: 24px;
  }
}
