<div class="page-container">
  <h1>Create a review</h1>

  <div class="form-container">
    <%= simple_form_for [@cat, @review] do |f| %>
      <%= f.input :rating, placeholder: '1 to 5' %>
      <%= f.input :content, placeholder: 'Leave a review' %>
      <%= f.button :submit, 'Create', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
